<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Футбол</title>
        <link rel="stylesheet" href="/Styles/header.css">
        <link rel="stylesheet" href="/Styles/style.css">
        <link rel="stylesheet" href="/Styles/notfound.css">
        <script> </script>
    </head>

    <body>
        <%- include('partials/header') %>
        <div class="container">
            <h1>4<img src="/sources/zeroball.png">4</h1>
            <p>Страница не найдена</p>
            <a href="/main" class="home-link">Вернуться на главную</a>
        </div>
    </body>

</html>